@namespace Zdk.Utilities.Blazor

<div class="@(IsStatic ? "static-" : "")container-component">
    <div style="display: flex; width: 100%; justify-content: space-around;">
        @ChildContent
    </div>
</div>
